td {
    border: 1px solid #5bc9b1;
    width: 25px;
    height: 25px;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.node_wall {
    /* animation: pulse 0.8s 1;
    background-color: #202220;
    border: 1px solid #202220; */
    background: url(../assets/wall.svg);
    background-size: cover;
}

@keyframes pulse {
    0% {
        background-color: rgb(175, 175, 98);
    }
    100% {
        background-color: yellow;
    }
}

.node_visited {
    position: relative;
    overflow: hidden;
}

.node_visited::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #6dc3bb;
    transform: scale(0);
    transform-origin: center;
    border-radius: inherit;
    animation: expand 0.3s forwards;
}

@keyframes expand {
    0% {
        background-color: #393d7e;
        transform: scale(0);
    }

    100% {
        background-color: #6dc3bb;
        transform: scale(1);
    }
}

.node_start {
    background: url("../assets/person.svg");
    background-size: cover;
}
.node_end {
    background: url("../assets/home.svg");
    background-size: cover;
}

.node_path {
    animation: expand2 0.8s 1;
    background-color: rgb(15, 251, 51);
}

@keyframes expand2 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

table {
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    border-collapse: collapse;
}
